:root {
    --font: "Quicksand", sans-serif;
    --margin_mobile: 2rem;
    --margin_tablet: 3rem;
    --margin_desktop: 4rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font);
}

body {
    background: url(/bg.jpg) rgba(52, 58, 64, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-inline: 2rem;
}

p {
    font-size: 1.4rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3.052rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.441rem;
    margin-bottom: 2rem;
    color: white;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.953rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.563rem;
    margin-bottom: 2rem;
}

h5 {
    font-weight: bold;
    font-size: 1.563rem;
    margin-bottom: 2rem;
}

h6 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #837979;
    padding: 1rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.5;
}

label {
    font-size: 1.8rem
}

input {
    font-size: 1.8rem
}

/* Estilos form */
.formSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(8, 1, 21, 0.3);
    padding: 5rem;
}

.wrapper {
    display: flex;
    color: white;
    width: 100%;
    flex-direction: column;
}

.form-control {
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #837979;
    color: rgb(231, 231, 231);
}

.form-control:focus-visible {
    outline: white;
    border-bottom: 1px solid white;
}

/* roulette */
.roulette {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.showMovie img {
    width: 100%;
}

.showMovie-add img {
    width: 100%;
}

@media screen and (min-width: 501px) {
    main {
        margin-inline: 3rem;
    }

    .showMovie-add {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }

    .showMovie-add img {
        width: 70%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    .showMovie {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .showMovie img {
        width: 40%;
    }
    .button-wrapper {
        width: 50%;
        max-width: 85rem;
        margin: 0 auto;
    }
}