 /* Estilos Generales */
/* :root {
    --chakra-colors-body-bg: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font);
} */

/* // * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }



// body {
//     // background: url('../../public/bg.svg') rgba(52, 58, 64, 0.5);
//     // background-repeat: no-repeat;
//     // background-size: cover;
//     // background-position: center;
//     // background-blend-mode: multiply;
//     background-color: black;
// }

// main {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-inline: 2rem;
// } */

/* Estilos de la tuleta */
